/***** Reset *****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*Fuente 1 - Headers*/
@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('./fonts/HelveticaNowDisplay-ExtraBold.ttf') format('truetype');
    font-display: swap; /*Para que si tarda en descargarse la fuente se vea el texto con otra fuente hasta que se descargue*/
}

/*Fuente 2 - Texto*/
@font-face {
    font-family: 'FiraCode';
    src: url('./fonts/FiraCode-Regular.ttf') format('truetype');
}

:root {
    --color-primary: #0071BC;
    --color-secondary: #29ABE2;
    --color-accent: #E9CA51;
    --color-text: #fff;
    --color-background: #333;

    --font-text: 'FiraCode', Arial;
    --font-header: 'HelveticaNowDisplay', Arial;
}
a {
    color: var(--color-background);
}
body {
    font-family: var(--font-text);
    background-color: var(--color-background);
    color: var(--color-text);
    font-size: 16px;
}

h1, h2{
    font-family: var(--font-header );
    letter-spacing: -5%;
}

/***** Estilos header *****/
header {
    position: relative;
}

.navbar {
    position: absolute;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    margin: 0; 
    display: flex;
    justify-content: center; /*Centra a los hijos, no el contenedor navbar*/
    align-items: center; /*Alinea en vertical, para que todos esten a la misma altura*/
    width: fit-content;
    margin-inline: auto;
    background-color: #001943;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 40px;
    padding: 0.2% 2% 0 2%;
    gap: 20px;

    & * {
        color: var(--color-primary);
    }

    & *:hover {
        color: var(--color-secondary);
        text-shadow: 0 0 3px var(--color-secondary);
    }
     & *:focus {
        color: var(--color-accent);
     }
}

.hero {
    background-image: url(./img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: clamp(300px, 30vw, 500px);
    padding: 0 4vw;  
}

.title{
    font-size: clamp(3rem, 30px, 5rem);
    font-family: var(--font-header);
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 25%;
    margin-top: 5%;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-text);
    width: fit-content;
    background-color: #e1edf16c;
    box-shadow: #29ABE2;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 #7bd2f8 inset;

    .bi {
        width: 3rem;
        height: 2.9rem;
        padding: 25%;
        color: var(--color-text);
    }
}

.button:hover {
    box-shadow: 0 4px 8px 0 #7bd2f8, 0 6px 20px 0 #7bd2f8, 0 4px 8px 0 rgba(0, 0, 0, 0.2) inset;
}

.logo {
    height: clamp(100px, 20vw, 300px);
}

main {
    padding: 1rem;
    width: 100%; 
    max-width: 1024px;
    margin: auto;
}

.container {
    display:flex;
    justify-content: space-around;
    gap: 1rem;
}
.card {
    background-color: #666666;
    border:solid 0.5px #7bd2f8;
    width: clamp(20vw, 30%, 33vw);
    border-radius: 10px;
    padding: 1rem;
    box-shadow: -5px 0px 0px 0px #29ABE2, 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover {
    box-shadow: -5px 0px 0px 0px #29ABE2, 0 4px 8px 0 rgb(215, 240, 255), 0 6px 20px 0 rgb(155, 240, 255);
}
.card a:hover {
    text-decoration: underline;
}

.cardHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2%;
}

.cardHeader a {
    color: var(--color-text);
}

.imgCard {
   width: 75px;
   height: auto;
   background-color: white;
   padding: 2%;
   border-radius: 50px;
}

.bigCard {
    background-color: #666666;
    padding: 1rem;
    width: 90%; 
    max-width: 1024px;
    margin: 3% auto;
    border-radius: 10px;
    box-shadow: -5px 0px 0px 0px #29ABE2, 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    h3 {
        font-size: clamp(3rem, 36px, 5rem);
        font-family: var(--font-header);
    }

    h4 {
        font-size: clamp(2rem, 20px, 3rem);
        font-family: var(--font-header);
    }
}

.imgBigCard {
   width: 200px;
   height: auto;
   background-color: white;
   padding: 2%;
   border-radius: 100px;
}

.backButton {
    border-radius: 100%;
    background-color: #666666;
    width: fit-content;
    padding: 10px;
    margin: 2%;
    float: right;
}

.backButton a {
    color: var(--color-text);
}
.p-1 {
    display: flex;
    align-items: center;
    gap: 5px;
}

ul {
    padding: 2rem;
}

.home {
    padding: 1rem; 
    display: flex;
    align-items: center;
}

#selfie {
    height: 400px;
    width: auto;
    border-radius: 200px 75px 200px 75px;
    display: block;
}
.home > div {
    padding-left: 2vw;
}

section{
    padding-bottom: 3rem;

    h2 { 
        padding: 1rem; 
    }
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: clamp(2rem, 2.5vw, 3rem);;
}

h1, h2{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}

/*Animación h1*/
h1 span{
    position: absolute;
    display: block;
}
h1 span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #E9CA51);
}
h1:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}
h1 span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #E9CA51);
}
h1:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
h1 span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #E9CA51);
}
h1:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
h1 span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #E9CA51);
}
h1:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

/*Animación h2*/
h2 span{
    position: absolute;
    display: block;
}
h2 span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #666666);
}
h2:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}
h2 span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #666666);
}
h2:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
h2 span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #666666);
}
h2:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
h2 span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #666666);
}
h2:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}


/***** MOBILE *****/
@media (max-width: 576px) {
    .hero {
        background-image: url(./img/header-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: clamp(300px, 100%, 500px);  
    }

    .navbar {
        display: none;
    }

    .content {
        display: flex;
        flex-direction: column;
        
    }

    h1{
        font-size: 2rem;
    }


    .buttons {
        display: flex;
        justify-content: space-around;
        width: 25%;
        margin-bottom: 5%;
        gap: 1rem;
    }
    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--font-text);
        width: fit-content;
        background-color: #e1edf16c;
        box-shadow: #29ABE2;
        border-radius: 50%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 #7bd2f8 inset;

        .bi {
            width: 2rem;
            height: 1.9rem;
            color: var(--color-text);
        }
    }

    .logo {
        display: none;
    }

    .home {
        display: flex;
        flex-direction: column;
        align-items: center;

        #selfie {
            height: 200px;
            width: auto;
            border-radius: 100px 50px 100px 50px;
        }

        
    }

    h2 {
        span {
            display: none;
        }
    }
    .container {
        display: flex;
        flex-direction: column;
    }

    .card {
        width: 90%;
        margin: 5%;
        font-size: 0.9rem;
    }

    .bigCard {
        width: 90%;
        margin: 5%;
        font-size: 0.9rem;

        .cardHeader {
            width: 90%;
            margin: auto;
        }

        h3 {
            font-size: 1.5rem;
            width: 75%;
            margin-bottom: 1rem;
        }

        img {
            width: 100px;
            margin-right: 0.5rem;
        }

        h4 {
            font-size: 1rem;
        }   

        p li{
            font-size: 0.8rem;
        }

        ul {
            padding: 0.5rem;
            
            ul{
                padding: 1rem;
            }
        }
    }
}


