/***** Reset *****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --color-primary: #0071BC;
    --color-secondary: #29ABE2;
    --color-accent: #E9CA51;

    --color-text: #fff;
    --color-background: #333;

    --font-text: Fira Sans;
    --font-headings: Bebas Neue;
}
a {
    color: var(--color-background);
}
body {
    font-family: var(--font-text);
    background-color: var(--color-background);
    color: var(--color-text);
    font-size: clamp(1rem, 16px, 2rem);
}

h1, h2, h3{
    font-family: var(--font-headings);
    letter-spacing: 5%;
}

h3 {
    padding-bottom: 0.5rem;
}

/***** Estilos header *****/
header {
    position: relative;
}

.navbar {
    position: absolute;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    margin: 0; 
    display: flex;
    justify-content: center; /*Centra a los hijos, no el contenedor navbar*/
    align-items: center; /*Alinea en vertical, para que todos esten a la misma altura*/
    width: fit-content;
    margin-inline: auto;
    background-color: #001943;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 40px;
    padding: 0.2vw 3vw;
}

.navbar>*{
    padding: 0 1vw;
    color: var(--color-primary);
}
 
.navbar>*:hover{
    color: var(--color-secondary);
    text-shadow: 0 0 3px var(--color-secondary);
}

.navbar>*:focus{
    color: var(--color-accent);
}

.hero {
    background-image: url(./img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: clamp(300px, 30vw, 500px);
    padding: 0 4vw;  
}

.title{
    font-size: clamp(3rem, 5vw, 5rem);
    font-family: var(--font-headings);
    letter-spacing: 2px;
}

.button {
    font-size: clamp(1rem, 1.5vw, 2rem);
    font-family: var(--font-text);
    width: fit-content;
    background-color: #29aae26c;
    box-shadow: #29ABE2;
    padding: 1%;
    margin-top: 5%;
    border-radius: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:hover {
    box-shadow: 0 4px 8px 0 #7bd2f8, 0 6px 20px 0 #7bd2f8;
}

.logo {
    height: clamp(100px, 20vw, 300px);
}

main {
    padding: 1rem;
    width: 100%; 
    max-width: 1024px;
    margin: auto;
}

section > h2 {
    padding: 1rem;
}

.container {
    display:flex;
    justify-content: space-around;
}
.card {
    background-color: #666666;
    width: clamp(20vw, 30%, 33vw);
    border-radius: 10px;
    padding: 2rem;
    box-shadow: -5px 0px 0px 0px #29ABE2, 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card a:hover {
    text-decoration: underline;

}

.p-1 {
    display: flex;
    align-items: center;
    gap: 5px;
}

ul {
    padding: 2rem;
}

.home {
    padding: 1rem; 
    display: flex;
}

#selfie {
    width: 400px;
    height: auto;
    border-radius: 200px 75px 200px 75px;
    display: block;
    padding-bottom: 2rem;
}
.home > div {
    padding-left: 2vw;
}

.home > div > p {
    padding: 2vw;
}

section{
    padding-bottom: 3rem;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: clamp(2rem, 2.5vw, 3rem);;
}

h1, h2{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}

/*Animación h1*/
h1 span{
    position: absolute;
    display: block;
}
h1 span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #E9CA51);
}
h1:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}
h1 span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #E9CA51);
}
h1:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
h1 span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #E9CA51);
}
h1:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
h1 span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #E9CA51);
}
h1:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

/*Animación h2*/
h2 span{
    position: absolute;
    display: block;
}
h2 span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #666666);
}
h2:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}
h2 span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #666666);
}
h2:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
h2 span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #666666);
}
h2:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
h2 span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #666666);
}
h2:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}


/***** MOBILE *****/
@media (max-width: 576px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .card {
        width: 90%;
        margin: 5%;
    }
}


